.half-screen-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 2px solid #ffffff;
  text-indent: -9999px;
  width: 18%;
  height: 18%;
  &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.full-screen-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
  width: 18%;
  height: 18%;
  span {
    display: inline-block;
    &:before {
      bottom: 0;
      right: 0;
      border-width: 0 2px 2px 0;
    }
    &:after {
      bottom: 0;
      left: 0;
      border-width: 0 0 2px 2px;
    }
  }
  &:before,
  &:after,
  span:before,
  span:after {
    position: absolute;
    width: 15px;
    height: 15px;
    border-color: #ffffff;
    border-style: solid;
    content: "";
  }
  &:before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
  }
  &:after {
    top: 0;
    right: 0;
    border-width: 2px 2px 0 0;
  }
}
