@import "buttons";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
$desktop-md: "(min-width: 1100px)";
$mobile-portrait: "only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)";
$tablet-portrait: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)";

.video-js {
  overflow: hidden;
  &.vjs-slides {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: inherit;
    height: 100%;
    // &.vjs-fullscreen{}
    .vjs-control-bar {
      z-index: 12;
      display: flex;
      position: relative;
    }
    &.vjs-has-started.vjs-user-inactive.vjs-playing {
      .video-footer {
        opacity: 0;
      }
      .vjs-control-bar{
        visibility: visible;
        opacity: 1;
      }
      .media-content{
        height: 96%;
      }
    }
    &.full-screen-slide-mode {
      .video-slides-container {
        width: 100%;
        height: 100%;
        max-height: 100%;
        right: 0;
        bottom: 0;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        .video-slides {
          transform: translateY(-50%);
          top: 54%;
        }
        .video-mode {
          display: none;
        }
      }
      .video-container {
        z-index: 12;
        position: absolute;
        width: 18.5%;
        height: auto;
        right: 0;
        left: inherit;
        top: inherit;
        bottom: 0;
      }
    }
    &.half-screen-mode {
      .video-slides-container {
        width: 40%;
        transform: translateY(-50%);
        top: 48%;
        max-height: inherit;
        bottom: inherit;
        display: block;
        &:hover {
          .video-mode {
            display: none;
          }
        }
      }
      .video-container {
        width: 56%;
        left: 15px;
        transform: translateY(-50%);
        top: 48%;
        position: relative;
        video {
          height: inherit;
        }
      }
      .thumb {
        display: inline-block;
      }
    }
    .media-content {
      overflow: hidden;
      position: relative;
      width: 100%;
      //height: 82%;
      height: 82%;
      transition: height 0.5s ease-in;
      //bottom: 50px;
      //bottom: 68px;
      .overlay-panel {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        z-index: 16;
        max-height: 0;
        height: 100%;
        overflow: hidden;
        transition: all 0.5s ease-in;
        padding: 0 20px;
        .slides-list {
          padding: 0;
          margin: 0;
          list-style: none;
          .carousel{
            li{
              float: none;
              width: auto;
            }
          }
          li {
            float: left;
            width: 16.6%;
          }
        }
        &.overlay-panel-open {
          max-height: 40%;
          //height: auto;
          height: 100%;
          //transition: all 0.5s ease-in;
          color: #ffffff;
          &.overlay-panel-expand {
            height: 100%;
            max-height: 100%;
            overflow-y: auto;

          }
        }
        .tool-bar {
          padding:22px 23px 18px 23px;
          margin: 0 -20px;
          background: #000000;
          .tool-bar-col {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            &:last-child {
              text-align: right;
            }
            p{
              margin: 0;
            }
            a{
              font-size: 0.8rem;
              display: inline-block;
              vertical-align: middle;
              cursor: pointer;
              &.expand-icon {
                font-size: 1.2rem;
                margin-right: 12px;
              }
            }
          }
        }
        .slides-list {
          margin:0 0 20px;
          padding: 0;
          text-align: center;
          li {
            //display: inline-block;
            //width: 15.8%;
            //margin: 0 5px;
            border: 3px solid #000000;
            img {
              max-width: 100%;
            }
            &.current-slide {
              border-color: #05A7D7;
            }
          }
        }
        .resources-list {
          list-style: none;
          padding: 0;
          margin:0;
          transition: all 0.5s ease-in;
          li {
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
            overflow: hidden;
            width: 100%;
            a {
              color:#ffffff;
              display: inline-block;
              font-size: 0.8rem;
              border: 2px solid #ffffff;
              padding: 10px 30px;
              border-radius: 12px;
              text-align: center;
              text-transform: uppercase;
              text-decoration: none;
              &:hover {
                opacity: 0.8;
              }
            }
            div {
              text-align: right;
              width: 50%;
            }
            p {
              font-size: 0.9rem;
              width: 50%;
              span {
                margin-right: 10px;
                font-size: 1.4rem;
              }
            }
            p,
            div {
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .slides-list,
        .resources-list {
          height: 0;
          overflow: hidden;
          transition: all 0.5s ease-in;
          &.show {
            height: auto;
          }
        }
        .resources-list {
          &.show {
            padding: 0 0 20px 0;
          }
        }
      }
    }
    .video-footer {
      color:#ffffff;
      opacity: 1;
      transition: all 0.5s ease-in;
      position: relative;
      left: 0;
      right: 0;
      margin: 12px 20px;
      box-sizing: border-box;
      .col {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        &.col-right {
          text-align: right;
          .logo-link {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }

      .video-slides {
        display: none;
      }
      a {
        color: #ffffff;
        display: inline-block;
        text-decoration: none;
        margin-left: 20px;
        .fa {
          float: right;
          margin-left: 5px;
          font-size: 0.8rem;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      .video-link {
        display: inline-block;
        vertical-align: middle;
      }
      .video-author {
        display: none;
        img {
          display: inline-block;
          vertical-align: middle;
          max-width: 40px;
          border-radius: 50%;
        }
        span {
          margin-left: 10px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    .video-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      &.video-thumbnail {
        cursor: pointer;
        &:hover {
          .video-mode {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      video{
        position: relative;
      }
    }
    .vjs-big-play-button {
      z-index: 14;
    }
    .video-slides-container {
      display: flex;
      width: 18.4%;
      max-height: 280px;
      z-index: 11;
      position: absolute;
      right: 10px;
      bottom: 0;
      list-style: none;
      cursor: pointer;
      transition: all 0.5s linear;
      text-align: center;
      &:hover {
        .video-mode {
          visibility: visible;
          opacity: 1;
        }
      }
      .video-slides {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        position: relative;
        li {
          display: none;
          &.active{
            display: block;
          }
          img {
            max-width: 100%;
          }
        }
      }
    }
    .video-mode {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(25,25,25,0.8);
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.5s linear;
      a {
        margin: 0 5px;
        top: 40%;
      }
    }
    .video-slides-container {
      .thumb {
        &.full-screen-icon {
          margin-right: 0;
          width: 6%;
          position: absolute;
          right: 0;
          padding-top: 1%;
          height: auto;
        }
      }
    }
    .thumb {
      display: none;
      cursor: pointer;
      &.full-screen-icon {
        float: right;
        /*margin-top: 10px;
        width: 5%;
        height: 8%;
        float: right;*/
        margin-top: 10px;
        width: 4%;
        padding-top: 1%;
        &:before,
        &:after,
        span:before,
        span:after {
          width: 10px;
          height: 5px;
        }
      }
    }
    @media #{$mobile-portrait} {
      .media-content {
        height: 94%;
      }
    }
    @media #{$tablet-portrait} {
      .media-content {
        height: 92.4%;
      }
    }
    @media #{$tablet} {
      .video-footer {
        .video-author {
          display: inline-block;
        }
      }
      .media-content{
        .overlay-panel{
          .resources-list{
            li{
              width: 47%;
              margin-right: 3%;
            }
          }
        }
      }
    }
    @media #{$desktop} {
      .media-content {
        height: 88%;
        .overlay-panel {
          .resources-list {
              li {
                width: 30.33%;
              }
            }
        }
      }
    }
  }
}
